@charset "UTF-8";

@font-face {
  font-family: "widgets";
  src:url("fonts/widgets.eot");
  src:url("fonts/widgets.eot?#iefix") format("embedded-opentype"),
    url("fonts/widgets.woff") format("woff"),
    url("fonts/widgets.ttf") format("truetype"),
    url("fonts/widgets.svg#widgets") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "widgets" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="iconwidget-"]:before,
[class*=" iconwidget-"]:before {
  font-family: "widgets" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconwidget-alerta:before {
  content: "\61";
}
.iconwidget-aniversariantes:before {
  content: "\62";
}
.iconwidget-aniversariantes-interno:before {
  content: "\63";
}
.iconwidget-bloco-de-notas:before {
  content: "\64";
}
.iconwidget-busca-avancada:before {
  content: "\65";
}
.iconwidget-busca-de-aniversariantes:before {
  content: "\66";
}
.iconwidget-busca-de-pessoas:before {
  content: "\67";
}
.iconwidget-busca-em:before {
  content: "\68";
}
.iconwidget-calendario:before {
  content: "\69";
}
.iconwidget-central-do-conhecimento:before {
  content: "\6a";
}
.iconwidget-destaques:before {
  content: "\6b";
}
.iconwidget-enquete:before {
  content: "\6c";
}
.iconwidget-favoritos:before {
  content: "\6d";
}
.iconwidget-forum:before {
  content: "\6e";
}
.iconwidget-html:before {
  content: "\6f";
}
.iconwidget-indique:before {
  content: "\70";
}
.iconwidget-links:before {
  content: "\71";
}
.iconwidget-lista-de-tarefas:before {
  content: "\72";
}
.iconwidget-ltimas-atualizaes:before {
  content: "\73";
}
.iconwidget-ltimos-comentrios:before {
  content: "\74";
}
.iconwidget-mais-vistos:before {
  content: "\75";
}
.iconwidget-mapas:before {
  content: "\76";
}
.iconwidget-meus-contatos:before {
  content: "\77";
}
.iconwidget-nossa-equipe:before {
  content: "\78";
}
.iconwidget-noticias:before {
  content: "\79";
}
.iconwidget-notificacoes:before {
  content: "\7a";
}
.iconwidget-rede-social:before {
  content: "\41";
}
.iconwidget-rss:before {
  content: "\42";
}
.iconwidget-tags:before {
  content: "\43";
}
.iconwidget-tempo:before {
  content: "\44";
}
.iconwidget-video:before {
  content: "\45";
}
.iconwidget-wikiglossario:before {
  content: "\46";
}
.iconwidget-quiz:before {
  content: "\47";
}
.iconwidget-termos:before {
  content: "\48";
}
.iconwidget-irmaos:before {
  content: "\49";
}
.iconwidget-link-2:before {
  content: "\4a";
}
.iconwidget-link-3:before {
  content: "\4b";
}
.iconwidget-link-4:before {
  content: "\4c";
}
.iconwidget-link-5:before {
  content: "\4d";
}
.iconwidget-link-6:before {
  content: "\4e";
}
.iconwidget-link-7:before {
  content: "\4f";
}
.iconwidget-link-8:before {
  content: "\50";
}
.iconwidget-link-9:before {
  content: "\51";
}
.iconwidget-link-10:before {
  content: "\52";
}
.iconwidget-link-11:before {
  content: "\53";
}
.iconwidget-link-12:before {
  content: "\54";
}
.iconwidget-link-13:before {
  content: "\55";
}
.iconwidget-link-14:before {
  content: "\56";
}
.iconwidget-link-15:before {
  content: "\57";
}
.iconwidget-link-16:before {
  content: "\58";
}
.iconwidget-sucesso:before {
  content: "\59";
}
.iconwidget-erro:before {
  content: "\5a";
}
.iconwidget-aguarde:before {
  content: "\30";
}
.iconwidget-leitura-obrigatoria:before {
  content: "\31";
}
.iconwidget-elogios:before {
  content: "\32";
}
.iconwidget-incidentes:before {
  content: "\33";
}
.iconwidget-guarda-sol:before {
  content: "\34";
}
.iconwidget-tarefas:before {
  content: "\35";
}
.iconwidget-cartao:before {
  content: "\36";
}
.iconwidget-aniversario-de-contratacao:before {
  content: "\37";
}