@charset "UTF-8";

@font-face {
  font-family: "weather";
  src:url("fonts/weather.eot");
  src:url("fonts/weather.eot?#iefix") format("embedded-opentype"),
    url("fonts/weather.woff") format("woff"),
    url("fonts/weather.ttf") format("truetype"),
    url("fonts/weather.svg#weather") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-iconweather]:before {
  font-family: "weather" !important;
  content: attr(data-iconweather);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="iconweather-"]:before,
[class*=" iconweather-"]:before {
  font-family: "weather" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconweather-0:before {
  content: "B";
}
.iconweather-1:before {
  content: "C";
}
.iconweather-2:before {
  content: "D";
}
.iconweather-3:before {
  content: "E";
}
.iconweather-4:before {
  content: "G";
}
.iconweather-5:before {
  content: "H";
}
.iconweather-6:before {
  content: "I";
}
.iconweather-7:before {
  content: "J";
}
.iconweather-8:before {
  content: "K";
}
.iconweather-9:before {
  content: "L";
}
.iconweather-10:before {
  content: "M";
}
.iconweather-11:before {
  content: "N";
}
.iconweather-12:before {
  content: "O";
}
.iconweather-13:before {
  content: "P";
}
.iconweather-14:before {
  content: "Q";
}
.iconweather-15:before {
  content: "R";
}
.iconweather-16:before {
  content: "S";
}
.iconweather-17:before {
  content: "T";
}
.iconweather-18:before {
  content: "U";
}
.iconweather-19:before {
  content: "V";
}
.iconweather-20:before {
  content: "W";
}
.iconweather-21:before {
  content: "X";
}
.iconweather-22:before {
  content: "Y";
}
.iconweather-23:before {
  content: "Z";
}
.iconweather-24:before {
  content: "0";
}
.iconweather-25:before {
  content: "1";
}
.iconweather-26:before {
  content: "2";
}
.iconweather-27:before {
  content: "3";
}
.iconweather-28:before {
  content: "4";
}
.iconweather-29:before {
  content: "5";
}
.iconweather-30:before {
  content: "6";
}
.iconweather-31:before {
  content: "7";
}
.iconweather-32:before {
  content: "8";
}
.iconweather-33:before {
  content: "9";
}
.iconweather-34:before {
  content: "!";
}
.iconweather-35:before {
  content: "\"";
}
.iconweather-36:before {
  content: "#";
}
.iconweather-37:before {
  content: "$";
}
.iconweather-38:before {
  content: "%";
}
.iconweather-39:before {
  content: "&";
}
.iconweather-40:before {
  content: "'";
}
.iconweather-41:before {
  content: "(";
}
.iconweather-42:before {
  content: ")";
}
.iconweather-43:before {
  content: "*";
}
.iconweather-44:before {
  content: "+";
}
.iconweather-45:before {
  content: ",";
}
.iconweather-46:before {
  content: "-";
}
.iconweather-47:before {
  content: ".";
}
.iconweather-3200:before {
  content: ":";
}
.iconweather-tempo:before {
  content: "A";
}
