@charset "UTF-8";

@font-face {
  font-family: "expresso";
  src:url("fonts/expresso.eot");
  src:url("fonts/expresso.eot?#iefix") format("embedded-opentype"),
    url("fonts/expresso.woff") format("woff"),
    url("fonts/expresso.ttf") format("truetype"),
    url("fonts/expresso.svg#expresso") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "expresso" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="iconexpresso-"]:before,
[class*=" iconexpresso-"]:before {
  font-family: "expresso" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconexpresso-doc:before {
  content: "\61";
}
.iconexpresso-eps:before {
  content: "\62";
}
.iconexpresso-geral:before {
  content: "\63";
}
.iconexpresso-html:before {
  content: "\64";
}
.iconexpresso-img:before {
  content: "\65";
}
.iconexpresso-mov:before {
  content: "\66";
}
.iconexpresso-mp3:before {
  content: "\67";
}
.iconexpresso-pdf:before {
  content: "\68";
}
.iconexpresso-ppt:before {
  content: "\69";
}
.iconexpresso-psd:before {
  content: "\6a";
}
.iconexpresso-txt:before {
  content: "\6b";
}
.iconexpresso-xls:before {
  content: "\6c";
}
.iconexpresso-zip:before {
  content: "\6d";
}
.iconexpresso-2-doc:before {
  content: "\6e";
}
.iconexpresso-2-eps:before {
  content: "\6f";
}
.iconexpresso-2-geral:before {
  content: "\70";
}
.iconexpresso-2-html:before {
  content: "\71";
}
.iconexpresso-2-img:before {
  content: "\72";
}
.iconexpresso-2-mov:before {
  content: "\73";
}
.iconexpresso-2-mp3:before {
  content: "\74";
}
.iconexpresso-2-pdf:before {
  content: "\75";
}
.iconexpresso-2-ppt:before {
  content: "\76";
}
.iconexpresso-2-psd:before {
  content: "\77";
}
.iconexpresso-2-txt:before {
  content: "\78";
}
.iconexpresso-2-xls:before {
  content: "\79";
}
.iconexpresso-2-zip:before {
  content: "\7a";
}
.iconexpresso-smile-1:before {
  content: "\41";
}
.iconexpresso-smile-2:before {
  content: "\42";
}
.iconexpresso-smile-3:before {
  content: "\43";
}
.iconexpresso-smile-4:before {
  content: "\44";
}
.iconexpresso-smile-5:before {
  content: "\45";
}
.iconexpresso-2-smile-1:before {
  content: "\46";
}
.iconexpresso-2-smile-2:before {
  content: "\47";
}
.iconexpresso-2-smile-3:before {
  content: "\48";
}
.iconexpresso-2-smile-4:before {
  content: "\49";
}
.iconexpresso-2-smile-5:before {
  content: "\4a";
}
.iconexpresso-aniversario:before {
  content: "\4b";
}
.iconexpresso-cadeado:before {
  content: "\4c";
}
.iconexpresso-compartilhar:before {
  content: "\4d";
}
.iconexpresso-favorito:before {
  content: "\4e";
}
.iconexpresso-favorito-mouseover:before {
  content: "\4f";
}
.iconexpresso-vizualizados:before {
  content: "\50";
}
.iconexpresso-add-usuario:before {
  content: "\51";
}
.iconexpresso-remover-usuario:before {
  content: "\52";
}
.iconexpresso-excluir-foto:before {
  content: "\53";
}
.iconexpresso-relogio:before {
  content: "\54";
}
.iconexpresso-play:before {
  content: "\55";
}
.iconexpresso-stop:before {
  content: "\56";
}
.iconexpresso-pause:before {
  content: "\57";
}
.iconexpresso-app-alerta:before {
  content: "\58";
}
.iconexpresso-app-busca:before {
  content: "\59";
}
.iconexpresso-app-configuracoes:before {
  content: "\5a";
}
.iconexpresso-app-email:before {
  content: "\30";
}
.iconexpresso-app-home:before {
  content: "\31";
}
.iconexpresso-app-logout:before {
  content: "\32";
}
.iconexpresso-app-menu:before {
  content: "\33";
}
.iconexpresso-app-portlet:before {
  content: "\34";
}
.iconexpresso-app-telefone1:before {
  content: "\35";
}
.iconexpresso-app-telefone2:before {
  content: "\36";
}
.iconexpresso-app-user:before {
  content: "\37";
}
.iconexpresso-app-voltar:before {
  content: "\38";
}
.iconexpresso-incidentes-calendario:before {
  content: "\39";
}
.iconexpresso-comunicacao-calendario:before {
  content: "\21";
}
.iconexpresso-noticias-calendario:before {
  content: "\22";
}
.iconexpresso-institucional-calendario:before {
  content: "\23";
}
.iconexpresso-incidentes:before {
  content: "\24";
}
.iconexpresso-feedback:before {
  content: "\25";
}
.iconexpresso-guarda-sol:before {
  content: "\26";
}
.iconexpresso-calcular:before {
  content: "\27";
}
.iconexpresso-calculadora:before {
  content: "\28";
}
.iconexpresso-grade-novos:before {
  content: "\29";
}
.iconexpresso-grade-televisao:before {
  content: "\2a";
}
.iconexpresso-grade-internet:before {
  content: "\2b";
}
.iconexpresso-indicadores:before {
  content: "\2c";
}
.iconexpresso-mural:before {
  content: "\2d";
}
.iconexpresso-elogios:before {
  content: "\2e";
}
.iconexpresso-acoes:before {
  content: "\2f";
}
.iconexpresso-crop:before {
  content: "\3a";
}
.iconexpresso-parceiros:before {
  content: "\3b";
}
.iconexpresso-copy:before {
  content: "\3c";
}
.iconexpresso-like-1:before {
  content: "\3d";
}
.iconexpresso-like-2:before {
  content: "\3e";
}
.iconexpresso-gplus:before {
  content: "\3f";
}
.iconexpresso-office:before {
  content: "\40";
}
.iconexpresso-tabulacao:before {
  content: "\5b";
}
.iconexpresso-favorito-vazio:before {
  content: "\5d";
}

